page-menu {

  .user {
    background: grey;
    height: 20%;
  }
  .scroll-content {
    height: 100%
  }
  .scroll-bar-indicator
  {
    display: none;
  }
  .lbl {
    padding-left:10px;
    font-size: 1.7rem;
  }
}
