.ios, .md {

  map-selector {

    #map {
      position:absolute;
      height: 100%;
      width: 100%;
      z-index:0;
    }
    .menu {
      color: black;
      background: transparent;
      top:10px;
      left:10px;
      width:60px;
      height:40px;
    }

  }



}
