.ios, .md {

  map-selector {

    #map {
      position:absolute;
      height: 100%;
      width: 100%;
      z-index:0;
    }
    .menu {
      color: black;
      background: transparent;
      top:10px;
      left:10px;
      width:60px;
      height:40px;
    }

  }

  .locations-popover .popover-content {
    margin-top:45px;
    margin-left:10%;
    width:80%;
    padding: 0 !important;
    left:0 !important;
  }

}
