page-footer {
  ion-footer {
    overflow: hidden;
    height: 10%;
    background-color: map-get($colors, dark);

    ion-grid, ion-row, ion-col {
      height: 100%;
    }

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #conteneur {
      display: flex;
      height:100%;
      flex-wrap: nowrap;
      overflow-x: visible;
      align-content: flex-start;
      margin-left:5%;
      padding-top:5px;
    }
    .element {
      flex-grow: 1;
      flex: 0 0 auto;
      width:20%;
      height:100%;
    }

    .fabButton {
      background: transparent;
    }

    .activeFabButton {
      box-shadow: 0 0 15px 5px orange;
    }

    .img {
      height:80%;
    }
  }
}
