page-footer {
  ion-footer {
    height: 10%;
    background-color: map-get($colors, dark);

    ion-grid, ion-row, ion-col {
      height: 100%;
    }

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fab[mini] {
      width: 50px;
      height: 50px;
    }

    .fabButton {
      background: transparent;
    }

    .activeFabButton {
      box-shadow: 0 0 15px 5px orange;
    }


    .img {
      height:80%;
    }
  }
}
